@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('https://png.pngtree.com/background/20230618/original/pngtree-golden-coins-piled-high-in-3d-rendered-elevation-symbolizing-wealth-and-picture-image_3752489.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .content {
        background-color: rgba(255, 255, 255, 0.8); 
        padding: 30px;
        border-radius: 10px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .btn-gold {
        background-color: #FFD700; 
        border-color: #FFD700; 
        color: black; 
    }

        .btn-gold:hover {
            background-color: #FFC700; 
            border-color: #FFC700;
            color: black;
        }
</style>


<div class="text-center mt-5 content">
    <h1 class="display-4">Cari Hareket Uygulaması</h1>
    <p class="lead">Müşterilerinize Ait Cari Hareketleri Kaydedebilir, Düzenleyebilirsiniz.</p>
    <hr class="my-4">
    <p>Müşteri listesine gitmek için aşağıdaki butonu kullanın.</p>
    <a href="@Url.Action("Index", "Musteri")" class="btn btn-gold btn-lg mt-3">Müşteri Listesi</a>
</div>
